<p id="notice"><%= notice %></p>

<p>
  <b>Authorname:</b>
  <%= @author.authorname %>
</p>

<p>
  <b>Image url:</b>
  <%= @author.image_url %>
</p>

<p>
  <b>Image type:</b>
  <%= @author.image_type %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
