%p#notice= notice
%p#alert= alert
%h2
  = "#{@games.count} Games"
= link_to 'Add a game', new_admin_game_path
%br
  = will_paginate @games
%table
  %tr
    %th.title Title
    %th.rating Rating
    %th.date Date Added
  - @games.each do |game|
    %tr
      %td.title= g_title(game)
      %td.rating= g_rating(game)
      %td.date= g_date(game)
