%p#notice= notice
%p
  %b User name:
  = @user.username
%p
  %b Password:
  = @user.password
%p
  %b First Name:
  = @user.f_name
%p
  %b L Name:
  = @user.l_name
%p
  %b Email:
  = @user.email
= link_to 'Edit', edit_user_path(@user)
|
\#{link_to 'Back', users_path}
