<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>All the World's Articles</h1>
<div id = "list_div">
	<table>
		<tr> 	
			<th>Title</th>
			<th>Author Name</th>
			<th>Body</th>
			<th>Creation Date</th>
		</tr>
		<% @articles.each do |article| %>
			<tr class="entry">
				<td><%= article.title %></td>
				<td><%= article.name %></td>
				<td><%= article.body %></td>
				<td><%= article.created_at %></td>
		<% end %>
	</table>
</div>
